@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #0f0f0f;
  color: #00adb5;
}

.nav-links a {
  color: #00adb5;
}

.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  transition: 0.3s ease;
  border-bottom: solid 1px #00adb5;
  border-radius: 1px;
}

.menu li {
  padding: 5px 14px;
}

/* RESPONSIVE NAVBAR MENU STARTS */

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.mainSection {
  /* background-image: url("bg.jpg"); */

  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mainSection h1 {
  padding: 10px;
  font-size: 70px;
  width: 500px;
  text-align: center;
  flex-direction: row;
}
.mainSection p {
  font-size: 28px;
  padding: 10px;
  margin: 10px;
  width: 800px;
}

.mainSection img {
  margin: 10px 0;
  border-radius: 50%;
  width: 200px;
}
.socialPlataformWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
}

.socialPlataform i {
  font-size: 35px;
  color: white;
}

.socialPlataform {
  padding: 30px;
  margin: 2%;
  width: 30%;
  border: 1px solid #d6d6d6;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: 0.2s all;
}

.socialPlataform a:active {
  color: #00adb5;
}
.socialPlataformWrap:hover .socialPlataform {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

.socialPlataformWrap:hover .socialPlataform:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}
.aboutMeSection {
  display: flex;
  color: white;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  height: 1080px;
  width: 100%;
}
.aboutMeSection h1 {
  font-size: 40px;
}
.aboutMeSection h2 {
  font-size: 35px;
}

.aboutMeSection .row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 5px;
  height: 35%;
}
.aboutMeSection .row h1 h2 {
  height: 10%;
}
.personalImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.personalImage img {
  width: 70%;
  height: 80%;
  border: #00adb5 solid 5px;
}
.personalInfo {
  width: 50%;
  padding: 20px;
  font-size: 28px;
}

.jobExperience {
  width: 50%;
  padding: 20px;
  font-size: 28px;
}

.jobImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 20px;
}
.jobImage img {
  width: 70%;
  background-size: cover;
  border: #00adb5 solid 5px;
}
#contact .row {
  font-size: 35px;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  height: 35%;
}
.form form {
  max-width: 420px;
  margin: 50px auto;
}

.form .feedbackInput {
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #00adb5;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

[type="submit"] {
  width: 100%;
  background: #00adb5;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .menu {
    display: none;
    position: absolute;
    background-color: #0f0f0f;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
    border-bottom: solid 1px #005b41;
    border-radius: 1px;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
  .mainSection {
    /* background-image: url("bg.jpg"); */
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
  }

  .mainSection .row {
    flex-direction: column;
    align-items: center;
  }
  .mainSection h1 {
    padding: 10px;
    font-size: 30px;
    width: 310px;
    text-align: center;
    flex-direction: row;
  }
  .mainSection p {
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    width: 310px;
  }

  .mainSection img {
    margin: 10px 0;
    border-radius: 50%;
    width: 100px;
  }
  .socialPlataformWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
  }

  .socialPlataform i {
    font-size: 30px;
    color: white;
  }

  .socialPlataform {
    padding: 30px;
    margin: 2%;
    width: 100px;
    border: 1px solid #d6d6d6;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.2s all;
  }

  .socialPlataform a:active {
    color: #00adb5;
  }
  .socialPlataformWrap:hover .socialPlataform {
    filter: blur(3px);
    opacity: 0.5;
    transform: scale(0.98);
    box-shadow: none;
  }

  .socialPlataformWrap:hover .socialPlataform:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  }
  .aboutMeSection h1 {
    font-size: 30px;
    font-weight: 1200;
  }
  .aboutMeSection h2 {
    font-size: 25px;
  }

  .aboutMeSection .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
  }
  .aboutMeSection .row h1 h2 {
    height: 2%;
  }
  .personalImage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .personalImage img {
    width: 80%;
    border: #00adb5 solid 5px;
  }
  .personalInfo {
    padding: 20px;
    font-size: 15px;
    width: 100%;
  }

  .jobExperience {
    width: 100%;
    padding: 20px;
    font-size: 15px;
  }

  .jobImage {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 20px;
  }
  .jobImage img {
    width: 80%;
    background-size: cover;
    border: #00adb5 solid 5px;
  }
  #contact .row {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    height: 35%;
  }

  .row h1 {
    font-size: 30px;
  }
  .form form {
    max-width: 80%;
    margin: 50px auto;
  }

  .form .feedbackInput {
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #00adb5;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
  }

  [type="submit"] {
    width: 100%;
    background: #00adb5;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 400;
  }
}
