@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.aboutMeSection {
  display: flex;
  color: white;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  height: 1080px;
  width: 100%;
}
.aboutMeSection h1 {
  font-size: 40px;
}
.aboutMeSection h2 {
  font-size: 35px;
}

.aboutMeSection .row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 5px;
  height: 35%;
}
.aboutMeSection .row h1 h2 {
  height: 10%;
}
.personalImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.personalImage img {
  width: 70%;
  height: 80%;
  border: #00adb5 solid 5px;
}
.personalInfo {
  width: 50%;
  padding: 20px;
  font-size: 28px;
}

.jobExperience {
  width: 50%;
  padding: 20px;
  font-size: 28px;
}

.jobImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 20px;
}
.jobImage img {
  width: 70%;
  background-size: cover;
  border: #00adb5 solid 5px;
}

@media (max-width: 768px) {
  .aboutMeSection h1 {
    font-size: 30px;
    font-weight: 1200;
  }
  .aboutMeSection h2 {
    font-size: 25px;
  }

  .aboutMeSection .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
  }
  .aboutMeSection .row h1 h2 {
    height: 2%;
  }
  .personalImage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .personalImage img {
    width: 80%;
    border: #00adb5 solid 5px;
  }
  .personalInfo {
    padding: 20px;
    font-size: 15px;
    width: 100%;
  }

  .jobExperience {
    width: 100%;
    padding: 20px;
    font-size: 15px;
  }

  .jobImage {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 20px;
  }
  .jobImage img {
    width: 80%;
    background-size: cover;
    border: #00adb5 solid 5px;
  }
}
