footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  width: 100%;
  height: 100px;
  margin-top: 50px;
}

footer span {
  font-weight: 500;
  color: #00adb5;
}

@media (max-width: 768px) {
  footer {
    margin-top: 185px;
    height: 100px;
  }
}
